pkgbase = calamares-core
	pkgdesc = Distribution-independent installer framework
	pkgver = 3.4.3.r2.g520ae783c4
	pkgrel = 4
	url = https://codeberg.org/m4teo/calamares
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = boost
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = qt6-tools
	makedepends = qt6-translations
	makedepends = ninja
	makedepends = doxygen
	makedepends = python-jsonschema
	makedepends = python-pyaml
	makedepends = python-unidecode
	depends = kconfig
	depends = kcoreaddons
	depends = kcrash
	depends = kiconthemes
	depends = ki18n
	depends = kparts
	depends = kpmcore
	depends = kservice
	depends = kwidgetsaddons
	depends = solid
	depends = yaml-cpp
	depends = boost-libs
	depends = ckbcomp
	depends = hwinfo
	depends = qt6-svg
	depends = polkit-qt6
	depends = libpwquality
	depends = python
	depends = python-distutils-extra
	depends = cryptsetup
	depends = gptfdisk
	depends = rsync
	provides = calamares
	provides = calamares-dev
	conflicts = calamares
	conflicts = calamares-eo
	conflicts = calamares-dev
	replaces = calamares-dev
	source = git+https://codeberg.org/m4teo/calamares.git#commit=520ae783c4
	source = calamares.desktop
	source = calamares_polkit
	source = 49-nopasswd-calamares.rules
	sha256sums = SKIP
	sha256sums = 2a3a9f55004c08230613f982a0ebedcba2d39e03a89d21071e34afc045e5ac8b
	sha256sums = c176b28007bd1c1f23d8dbb2c936fa54d0c01bacfb67290ddad597606c129df3
	sha256sums = 56d85ff6bf860b9559b8c9f997ad9b1002f3fccc782073760eca505e3bddd176

pkgname = calamares-core
